numpy
pandas
matplotlib
seaborn
groq==0.37.1
langchain-groq==1.1.2
openai==2.31.0
langchain-openai==1.1.14
langchain==1.2.12
langchain-core==1.2.31
langchain_community==0.4.1
langchain_experimental==0.4.1
chainlit==2.11.0
